# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# Ignore all data
data/*

# BUT keep calendars
!data/calendars/
!data/calendars/*.csv

# Ignore loggers
logger/logs/
app/logger/logs/

# OS
.DS_Store
Thumbs.db

# Secrets
.env